.tasksHeader {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.tasksHeader aside {
  display: flex;
  align-items: center;
  font-weight: bold;
}

aside .createdTasks {
  color: var(--blue);
  font-weight: bold;
  font-size: 0.875rem;
}

.tasksCounter {
  color: var(--gray-200);
  font-size: 0.75rem;
  background-color: var(--gray-400);
  padding: 0.125rem 0.5rem;
  border-radius: 16px;
  margin-left: 0.5rem;
}

aside .finishedTasks {
  color: var(--purple);
  font-weight: bold;
  font-size: 0.875rem;
}